{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBPI Business System</title>
    <link rel="icon" type="image/png" href="{% static 'image/icon_logo/mbpi_no_bg.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/tom-select.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/preline-alert/preline-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmf/cmf_records.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmf/cmf_entry.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmf/rs_entry.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmf/formula_mb.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmf/formula_dc.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmf/pending_completed.css' %}">
    <link rel="stylesheet" href="{% static 'css/audit_trail/audit_trail.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedback/feedback.css' %}">
    <link rel="stylesheet" href="{% static 'css/flatpickr.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal/uploadfile-handler.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal/cmf-record/cmf_record_detail.css' %}">
    
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/loader/global_loader.css' %}">

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/dataTables.min.js' %}"></script>

</head>
<body>
    
    <div class="wrapper">
        <div id="sidebarOverlay" class="sidebar-overlay"></div>

        {% include 'sidebar.html' %}

        <div class="main">
            <nav class="navbar navbar-expand-lg px-3">
                <button class="btn btn-outline-secondary d-lg-none me-2" id="mobileToggle">
                    <i class="bi bi-list"></i>
                </button>
                <span class="fw-bold navbar-page-title" style="color: var(--text-main);"> {% block navigation %}{% endblock %}</span>
               
            </nav>
            
            
            <div class="content p-3 p-md-4 flex-grow-1">
                {% block content %}{% endblock %}
            </div>
            {% include "partials/alert-modal.html" %}
            {% include "partials/global_loader.html" %}
            {% include 'footer.html' %}
        </div>
    </div>
    {% include "partials/after-reload-msgs.html" %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tom-select.complete.min.js' %}"></script>
    <script src="{% static 'js/flatpickr.js' %}"></script>
    
    <script src="{% static 'js/dropzone.min.js' %}"></script>
    <script src="{% static 'js/preline-js/preline-ui.js' %}"></script>
    
    <script src="{% static 'amcharts5/index.js' %}"></script>
    <script src="{% static 'amcharts5/percent.js' %}"></script> 
    <script src="{% static 'amcharts5/xy.js' %}"></script>
    <script src="{% static 'amcharts5/themes/Animated.js' %}"></script>
    
    <script src="{% static 'js/sidebar/sidebar.js' %}"></script>
    <script src="{% static 'js/auto-suggest.js' %}"></script>
    <script src="{% static 'js/cmf/datepicker.js' %}"></script>
    <script src="{% static 'js/modal/uploadfile-handler.js' %}"></script>
    <script src="{% static 'js/cmf/cmf-entry.js' %}"></script>
    <script src="{% static 'js/util/debounce.js' %}"></script>
    
    <script src="{% static 'js/loader/global_loader.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>