{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBPI Business System</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmf_records.css' %}">
</head>
<body>
    
    <div class="wrapper">
        <div id="sidebarOverlay" class="sidebar-overlay"></div>

        {% include 'sidebar.html' %}

        <div class="main">
            <nav class="navbar navbar-expand-lg px-3">
                <button class="btn btn-outline-secondary d-lg-none me-2" id="mobileToggle">
                    <i class="bi bi-list"></i>
                </button>
                <span class="fw-bold" style="color: var(--text-main);"> {% block navigation %}{% endblock %}</span>
               
            </nav>
            
            
            <div class="content p-3 p-md-4 flex-grow-1">
                {% block content %}{% endblock %}
            </div>

            {% include 'footer.html' %}
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>

    <script src="{% static 'amcharts5/index.js' %}"></script>
    <script src="{% static 'amcharts5/percent.js' %}"></script> 
    <script src="{% static 'amcharts5/xy.js' %}"></script>
    <script src="{% static 'amcharts5/themes/Animated.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>